<div class="user-card">
  <h3 class="collection-title">Profilo</h3>
  <div class="profile-grid">
    <div class="grid-profile-img" *ngIf="user.image.length >0">
      <img class="profile-picture" [src]="userImage" width="400">
    </div>
    <div class="grid-profile-img" *ngIf="user.image.length === 0">
      <img class="profile-picture" src="assets/profile.jpg" width="400">
    </div>
    <div class="center-parameters grid-profile-info">
      <h3>Nome: {{user.name}}</h3>
      <h3>Cognome: {{user.surname}}</h3>
      <h3>Email: {{user.mail}}</h3>
      <h3>Address: {{user.address}}</h3>
    </div>
  </div>
</div>
