:host, .collectible {
  grid-row-start: v-center-top;
  grid-row-end: footer;
  grid-column-start: h-center;
  grid-column-end: end;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.center-stage{
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.center-parameters{
  width: 400px;
}

.profile-picture{
  width: 400px;
  border-radius: 12px;

}
