<div class="user-card">
<!--  <h2 class="user-card-title">{{user.nome}} {{user.cognome}}</h2>-->
<!--  <div class="user-card-content">-->
<!--    <img class="profile-picture" src="assets/{{user.image}}" width="400">-->
<!--    <div class="user-card-text">-->
<!--      <p [innerHTML]="user.descrizione"> </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <blockquote>-->
<!--    {{user.citazione}}-->
<!--    ({{user.autore}})-->
<!--  </blockquote>-->
  <div class="center-stage">
    <img class="profile-picture" src="assets/{{user.image}}" width="400">
    <div class="center-parameters">
      <h3>Nome: {{user.nome}}</h3>
      <h3>Cognome: {{user.cognome}}</h3>
      <h3>Email: {{user.email}}</h3>
      <h3>Address: {{user.address}}</h3>
    </div>
  </div>
</div>
