<button (click)="appServ.currentView = 'profile'"
        [class]="{selected: (currentView === 'profile')}">
  <p>Profilo</p></button>
<button (click)="appServ.currentView = 'order'"
        [class]="{selected: (currentView === 'order')}">
  <p>Ordini</p></button>
<button (click)="appServ.currentView = 'cart'"
        [class]="{selected: (currentView === 'cart')}">
  <p>Carrello</p></button>
<button *ngIf="appServ.seller == true" (click)="appServ.currentView = 'sell'"
        [class]="{selected: (currentView === 'sell')}">
  <p>Vendi</p></button>
<button *ngIf="appServ.seller == true" (click)="appServ.currentView = 'myprod'"
        [class]="{selected: (currentView === 'myprod')}">
  <p>I miei prodotti</p></button>
