:host {
  grid-row-start: v-center-top;
  grid-row-end: footer;
  grid-column-start: left-col;
  grid-column-end: h-center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  margin-left: 85px;
}

button {
  background-color: transparent;
  border-color: rgb(215,193,96);
  border-width: 2px;
  border-radius: 12px;
  padding: 10px 15px;
  font-size: 14pt;
  font-family: Lato, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  background-color: rgb(220, 220, 220);
}

button.selected {
  background-color: rgb(215,193,96);
  border-radius: 12px;
  padding: 10px 15px;
}
