:host {
  grid-row-start: v-center-top;
  grid-row-end: footer;
  grid-column-start: left-col;
  grid-column-end: h-center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
}

p {
  background-color: white;
  border-radius: 12px;
  padding: 10px 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

p:hover {
  background-color: rgb(220, 220, 220);
}

p.selected {
  background-color: rgb(215,193,96);
  border-radius: 12px;
  padding: 10px 15px;
}
