<div class="user-card">
  <h3 class="collection-title">Vendi</h3>
  <div class="profile-grid">
    <div class="single-order-box">
      <form class="form" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <p class="p-form">
          <label>Nome Prodotto: </label>
          <input class="input-form" type="text" name="name" ngModel>
        </p>
        <p class="p-form">
          <label>Descrizione Prodotto: </label>
          <input class="input-form"type="text" name="description" ngModel>
        </p>
        <p class="p-form">
          <label>Prezzo: </label>
          <input class="input-form" type="number" name="price" ngModel>
        </p>
        <p class="p-form">
          <label>Immagine: </label>
          <input class="input-form" type="text" name="image" ngModel>
        </p>
        <p class="p-form">
          <label>Tipo: </label>
          <select class="input-form" name="type" ngModel>
            <option [ngValue]="c.id" *ngFor="let c of typeList">
              {{c.name}}
            </option>
          </select>
        </p>
      </form>
      <p>
        <button (click)="onSubmit(contactForm)" class="btn-form" type="submit">Vendi</button>
      </p>
    </div>
  </div>
</div>
