:host {
  grid-row-start: v-center-top;
  grid-row-end: v-center-bot;
  grid-column-start: h-center;
  grid-column-end: end;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-detail{
  display: grid;
  grid-template-columns: 1fr repeat(2, 40%) 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 50px;
}

.single-order-box{
  border-radius: 12px;
  background-color: white;
  height: 250px;
  width: 500px;
  box-shadow: 5px 10px 5px #dedede;
  margin: 30px;
}

.form{
  padding: 24px;
}

.p-form{
  margin-bottom: 20px;
}

.btn-form{
  background-color: transparent;
  border-color: rgb(215,193,96);
  border-width: 2px;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 20%;
  border-radius: 12px;
  font-weight: bold;
  float: right;
}

.input-form{
  border-radius: 12px;
  border-width: 2px;
  border-color: rgb(215,193,96);
  height: 20px;
  float: right;
}

