<div id="id01" class="modal">
  <form class="modal-content animate" action="https://www.google.com">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <label><b>Username</b></label><br>
      <input placeholder="Enter your name" value="" name="username" type="username" [(ngModel)] ="username">
      <label><b>Password</b></label>
      <input placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "password">
      <button (click)="appServ.login(username, password)">Login</button>
      <span *ngIf="show">Login success</span>
    </div>
  </form>
</div>




<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
