<div id="id01" class="modal">
  <form class="modal-content animate" action="https://www.google.com">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <label><b>Username</b></label><br>
      <input placeholder="Enter your name" value="" name="username" type="username" [(ngModel)] ="username">
      <label><b>Password</b></label>
      <input placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "password">
      <button (click)="appServ.login(username, password)">Login</button>
      <span *ngIf="show">Login success</span>
      <button onclick="document.getElementById('id02').style.display='block'">Registrati</button>
      </div>
      <div id="id02" class="modal">
        <form class="modal-content animate" action="https://www.google.com">
          <div class="imgcontainer">
            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
          </div>
          <div class="container">
            <form class="form" #contactForm="ngForm" (ngSubmit)="appServ.register(contactForm)">
              <p class="p-form">
                <label><b>Email</b></label><br>
                <input class="input-form" type="text" name="mail" ngModel>
              </p>
              <p class="p-form">
                  <label><b>Name</b></label><br>
                <input class="input-form"type="text" name="name" ngModel>
              </p>
              <p class="p-form">
                <label><b>Surname</b></label><br>
                <input class="input-form" type="text" name="surname" ngModel>
              </p>
              <p class="p-form">
                <label><b>Password</b></label><br>
                <input class="input-form" type="password" name="password" ngModel>
              </p>
              <p class="p-form">
                <label><b>Address</b></label><br>
                <input class="input-form" type="text" name="address" ngModel>
              </p>
              <label><b>Seleziona foto profilo : </b></label><br>
              <input type="file" (change)="appServ.onFileSelected($event)"/>
              <br>
              <br>
              <label><b>Sei un venditore?</b></label><br>
              <select class="selectOption" name="seller" [(ngModel)]="selectedIsSeller" >
                <option value="true">Si</option>
                <option value="false">NO</option>
              </select><br><br>
            </form>
            <p>
              <button (click)="appServ.register(contactForm)" class="btn-form" type="submit">Submit</button>
            </p>
          </div>
  </form>
</div>
  </form>
</div>








<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  var modal = document.getElementById('id02');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
