<a href="index.html">
  <img src="./assets/genderlessIcon.png" width="45" height="60" alt="">
</a>
<div class="user-logins">
  <p class="btn-nav">Maglioni</p>
  <p class="btn-nav">T-Shirt </p>
  <p class="btn-nav">Pantaloni </p>
  <p class="btn-nav"(click)= "appServ.logout()">Scarpe </p>
</div>
<div class="user-logins">
  <img src="assets/profile.png" width="44px">
  <img src="assets/kart.png" width="44px">



<div class="user-logins">
  <ng-container *ngFor="let utente of utenti">
    <p *ngIf="loggedUser.length === 0 || loggedUser === utente"
       [class]="{selected: (loggedUser === utente)}"
       (click)="appServ.login(utente)">
      {{utente}}
    </p>
  </ng-container>
  <p *ngIf="loggedUser.length > 0"
     (click)="appServ.logout()">Log out</p>
</div>
</div>
