:host {
  grid-row-start: top-bar;
  grid-row-end: v-center-top;
  grid-column-start: left-col;
  grid-column-end: end;
  background-color: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
a{
  display: block;
}

p{
  border-radius: 12px;
}

.selected {
  background-color: rgb(215,193,96);
  border-radius: 12px;
  padding: 10px 15px;
}
