:host {
  grid-row-start: v-center-top;
  grid-row-end: footer;
  grid-column-start: left-col;
  grid-column-end: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

:host > img {
  width: 90%;
  margin-right: 10%;
  margin-left: 10%;
}

:host > p {
  width: 40vw;
  margin-top: 20px;
}
