<img src="assets/splash.jpeg">
<p class="presentation">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a purus gravida, luctus lectus quis, placerat arcu.
  Maecenas efficitur nunc placerat massa euismod, vel pellentesque nunc suscipit. Sed bibendum fringilla nisl nec
  pretium. Pellentesque vitae lectus tellus. Curabitur sed dolor quam. Sed a nisi rutrum, auctor nibh non, varius
  lectus. Nam sit amet lectus bibendum, congue massa at, consequat est. Nulla tincidunt lacus eget lorem vehicula,
  id bibendum risus aliquam. Morbi fringilla condimentum leo, commodo convallis turpis consequat ac. Etiam tellus
  eros, gravida eu sapien at, vestibulum venenatis ante. Mauris sit amet nisi dui. Suspendisse potenti. In
  maximus, nunc quis iaculis sagittis, tortor lectus viverra purus, in condimentum ex enim non lorem. Nullam et
  lacus dictum, condimentum augue a, efficitur erat. Donec tristique, ipsum in convallis ultricies, sapien est
  hendrerit nisl, in scelerisque ex est id arcu. Maecenas mattis turpis eget risus dapibus mattis.
</p>
