<div class="user-card" *ngIf="orders.length > 0">
  <div>
    <h3 class="collection-title">Ordini</h3>
    <div class="center-parameters">
      <ul>
        <div class="single-order-box" *ngFor="let order of orders">
          <div class="box-value" >
            <span> Numero d'ordine : {{order.id}}</span><br>
            <span> Id prodotti : {{order.productsId}}</span><br>
            <span> Prezzo : € {{order.price}}</span><br>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<div class="user-card" *ngIf="orders.length === 0">
  <div>
    <h3 class="collection-title">Ordini</h3>
    <h3 class="empty-order">Non hai ancora effettuato nessun ordine</h3>
    <div class="empty-order">
      <img src="assets/empty_order.png" height="150px" width="150px">
    </div>
  </div>
</div>
