<app-header></app-header>

<ng-container *ngIf="currentView != 'product'">
  <app-presentation *ngIf="loggedUser.length === 0"></app-presentation>
  <app-login></app-login>
</ng-container>

<app-product *ngIf="currentView === 'product'"></app-product>


<ng-container *ngIf="loggedUser.length > 0 && currentView != 'product'">
  <app-secod-nav></app-secod-nav>
  <app-collection *ngIf="currentView === 'collection'"></app-collection>
  <app-user-profile *ngIf="currentView === 'profile'"></app-user-profile>
</ng-container>

<app-footer></app-footer>
