:host {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: [left-col] 300px [h-center] auto [end];
  grid-template-rows: [top-bar] 100px [v-center-top] 6fr [v-center-bot] 4fr [footer] 40px [end];
}
