<app-header></app-header>
<app-login></app-login>

<ng-container *ngIf="currentView != 'product'">
  <app-presentation *ngIf="currentView === 'home'"></app-presentation>
  <app-cart *ngIf="currentView === 'cart'"></app-cart>
</ng-container>

<app-product *ngIf="currentView === 'product'"></app-product>

<ng-container *ngIf="loggedUser.length > 0 && currentView != 'product' && currentView != 'home' ">
  <app-secod-nav></app-secod-nav>
  <app-order *ngIf="currentView === 'order'"></app-order>
  <app-user-profile *ngIf="currentView === 'profile'"></app-user-profile>
  <app-seller-option *ngIf="currentView === 'sell'"></app-seller-option>
</ng-container>
<lib-ng-toast></lib-ng-toast>
<app-footer></app-footer>
