<div>
  <div *ngIf="appServ.currentNavigationView === 'maglione'">
    <div *ngFor="let product of products" >
      <div class="product-detail" *ngIf="product.type === 'maglione'">
        <img class="product-picture" src="{{product.image}}">
        <div class="product-description">
          <span class="product-title">{{product.nomeProdotto}}</span><br><br>
          <span >{{product.descrizioneProdotto}}</span><br><br>
          <span>Price: <strong>€ {{product.price}}</strong></span><br><br>
          <form>
            <label>Taglia: </label>
            <select class="select" name="product-size" [(ngModel)]="selectedSize">
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
            </select><br><br>
            <button type="button" class="btn-cart" (click)="addProductToCart(product, selectedSize)">ADD TO CART</button>
          </form>
      </div>
      </div>
    </div>
  </div>
    <div *ngIf="appServ.currentNavigationView === 'pantalone'">
      <div *ngFor="let product of products" >
        <div class="product-detail" *ngIf="product.type === 'pantalone'">
          <img class="product-picture" src="{{product.image}}">
          <div class="product-description">
            <span class="product-title">{{product.nomeProdotto}}</span><br><br>
            <span >{{product.descrizioneProdotto}}</span><br><br>
            <span>Price: <strong>€ {{product.price}}</strong></span><br><br>
            <form>
              <label>Taglia: </label>
              <select class="select" name="product-size" [(ngModel)]="selectedSize">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
              </select><br><br>
              <button type="button" class="btn-cart" (click)="addProductToCart(product, selectedSize)">ADD TO CART</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  <div *ngIf="appServ.currentNavigationView === 'tshirt'">
    <div *ngFor="let product of products" >
      <div class="product-detail" *ngIf="product.type === 'tshirt'">
        <img class="product-picture" src="{{product.image}}">
        <div class="product-description">
          <span class="product-title">{{product.nomeProdotto}}</span><br><br>
          <span >{{product.descrizioneProdotto}}</span><br><br>
          <span>Price: <strong>€ {{product.price}}</strong></span><br><br>
          <form>
            <label>Taglia: </label>
            <select class="select" name="product-size" [(ngModel)]="selectedSize">
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
            </select><br><br>
            <button type="button" class="btn-cart" (click)="addProductToCart(product, selectedSize)">ADD TO CART</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="appServ.currentNavigationView === 'scarpa'">
    <div *ngFor="let product of products" >
      <div class="product-detail" *ngIf="product.type === 'scarpa'">
        <img class="product-picture" src="{{product.image}}">
        <div class="product-description">
          <span class="product-title">{{product.nomeProdotto}}</span><br><br>
          <span >{{product.descrizioneProdotto}}</span><br><br>
          <span>Price: <strong>€ {{product.price}}</strong></span><br><br>
          <form>
            <label>Taglia: </label>
            <select class="select" name="product-size" [(ngModel)]="selectedSize">
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
              <option value="41">41</option>
              <option value="42">42</option>
              <option value="43">43</option>
              <option value="44">44</option>
            </select><br><br>
            <button type="button" class="btn-cart" (click)="addProductToCart(product, selectedSize)">ADD TO CART</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
