:host {
  grid-row-start: v-center-top;
  grid-row-end: footer;
  grid-column-start: left-col;
  grid-column-end: end;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.product-picture{
  width: 500px;
  height: 500px;
  border-radius: 12px;
  grid-area: 1 / 2 / 2 / 3;
  box-shadow: 5px 5px 5px #dedede;
}

.product-detail{
  display: grid;
  grid-template-columns: 1fr repeat(2, 40%) 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 50px;
}

.product-description{
  grid-area: 1 / 3 / 2 / 4;
}

.product-title{
  font-weight: bold;
}

.btn-cart{
  background-color: transparent;
  border-color: rgb(215,193,96);
  border-width: 2px;
  color: black;
  border-radius: 12px;
  width: 150px;
  height: 50px;
  font-weight: bold;
}

.select{
  border-radius: 12px;
  border-width: 2px;
  border-color: rgb(215,193,96);
  height: 35px;
  width: 90px;
}
