<div class="user-card">
  <div>
    <h3 class="collection-title">Ordini</h3>
    <div class="center-parameters">
      <ul>
        <div class="single-order-box" *ngFor="let order of orders">
          <div class="box-value" >
            <span> Numero d'ordine : {{order.orderID}}</span><br>
            <span> Prodotti : {{order.nomeProdotto}}</span><br>
            <span> Taglia : {{order.size}}</span><br>
            <span> Prezzo : {{order.price}}</span><br>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
