:host {
  grid-row-start: v-center-top;
  grid-row-end: v-center-bot;
  grid-column-start: h-center;
  grid-column-end: end;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-order-box{
  border-radius: 12px;
  background-color: #eeeeee;
  height: 110px;
  width: 350px;
  box-shadow: 5px 5px 5px #dedede;
}

.box-value{
  padding: 10px;
  margin: 10px;
}
