<div class="user-card">
  <div>
    <h3 class="collection-title">Carrello</h3>
    <div class="center-parameters">
      <ul>
        <div class="single-order-box" *ngFor="let item of cartBox">
          <div class="box-value" >
            <span>Prodotto: {{item.nomeProdotto}}</span><br>
            <span>Taglia: {{item.size}}</span><br>
            <span>Prezzo: <strong>{{item.price}}</strong></span><br>
          </div>
          <button class="position-remove-btn" (click)="removeItem(item)">-</button>
        </div>
      </ul>
    </div>
    <div>
      <span id="totalAmount"></span>
    </div>
    <button (click)="submit()" class="btn-send">INVIA</button>
  </div>
</div>



<!--how to convert image into blob for save it in db-->

<!--<title>File & Blob Convertion</title>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.4.0/js/canvas-to-blob.min.js"></script>-->
<!--Upload <input type="file" id="upload" />-->
<!--<img id="display" src="" />-->

<!--<script>-->
<!--  document.getElementById("upload").onchange = function(e) {-->
<!--    var file = document.getElementById("upload").files[0];-->
<!--    var reader = new FileReader();-->
<!--    reader.onload = function() {-->
<!--      console.log(reader.result);-->
<!--      document.getElementById("display").src = reader.result;-->
<!--      var blob = window.dataURLtoBlob(reader.result);-->
<!--      console.log(blob, new File([blob], "image.png", {-->
<!--        type: "image/png"-->
<!--      }));-->
<!--    };-->
<!--    reader.readAsDataURL(file);-->
<!--  };-->
<!--</script>-->

