<div class="user-card">
  <div>
    <h3 class="collection-title">Carrello</h3>
    <div class="center-parameters">
      <ul>
        <div class="single-order-box" *ngFor="let item of cartBox">
          <div class="box-value" >
            <span>{{item.nomeProdotto}}</span><br>
            <span>{{item.price}}</span><br>
          </div>
          <button class="position-remove-btn" (click)="removeItem(item)">-</button>
        </div>
      </ul>
    </div>
    <button class="btn">INVIA</button>
  </div>
</div>
