/* You can add global styles to this file, and also import other style files */
html {
  font-size: 14pt;
  font-family: sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}


.user-logins {
  display: flex;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: x-large;
  margin-right: 50px;
  margin-inline-end: auto;
  margin-top: 5%;

}

.user-logins p, .second-nav p {
  background-color: white;
  padding: 10px 15px;

}

.user-logins a, .second-nav a {
  text-decoration: none;
  color: inherit;
}

.user-logins > p.selected, .second-nav > p.selected {
  background-color: pink;
  border: 1px solid rgb(40, 40, 40);
  border-radius: 12px;
  padding: 10px 15px;
}

.user-logins > p:hover, .second-nav > p:hover {
  background-color: rgb(220, 220, 220);
}

.logo {
  width: 80px;
  height: 80px;
  margin-left: 30px;
}


.user-profile, .collectible {
  grid-row-start: v-center-top;
  grid-row-end: footer;
  grid-column-start: h-center;
  grid-column-end: end;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.user-card, .object-card {
  min-width: 800pt;
  max-width: 800pt;
}

.user-card-content {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  display: flex;
  gap: 20px;
}

.object-card-content {
  background-color: rgb(60, 60, 60);
  color: white;
  padding: 10px;
  display: flex;
  gap: 20px;
}

.user-card-text p, .object-card-text p {
  margin: 5px 0;
}

.user-card blockquote {
  text-align: right;
  font-style: italic;
  font-size: 0.9rem;
}

.user-card-title {
  background-color: rgb(50, 50, 50);
  margin: 0;
  color: rgb(220, 220, 220);
  padding: 10px;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}

.object-card-title {
  background-color: rgb(220, 220, 220);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.object-card-title h2 {
  font-size: 2rem;
  font-weight: normal;
  color: rgb(40, 40, 40);
  margin: 0
}

.object-details {
  margin-top: 30px;
  display: grid;
  grid-template-columns: fit-content(200px) auto;
  grid-template-rows: repeat(4, fit-content(30px));
}

.object-details > p:nth-child(odd) {
  font-weight: bold;
}

.object-details > p:nth-child(even) {
  margin-left: 10px;
  color: rgb(30, 30, 30);
}

.collection {
  grid-row-start: v-center-top;
  grid-row-end: v-center-bot;
  grid-column-start: h-center;
  grid-column-end: end;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.collection-content {
  max-width: 800px;
  min-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 10px;
}

.collection-content > li {
  list-style-type: none;
  background-color: rgb(230, 230, 230);
  padding: 30px;
}

.collection-title {
  background-color: rgb(200, 200, 200);
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  color: rgb(40, 40, 40);
  margin: 0;
  padding: 10px;
  align-self: stretch;
}

.other {
  grid-row-start: v-center-bot;
  grid-row-end: footer;
  grid-column-start: h-center;
  grid-column-end: end;
  background-color: rgb(100, 100, 100);

}
